﻿@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                This is an awesome site of doom that will allow you to <mark>create tasks to complete each day</mark>.
            </p>
        </div>
    </section>
}
<h3>We suggest the following:</h3>
<ol class="round">
    <li class="one">
        <h5>Create an account</h5>
        It only takes 35 seconds to <a href="#">create an account</a>!</li>
    <li class="two">
        <h5>Start adding tasks</h5>
        Want to learn a new language, get fit or just clean the house. Create a daily tasks to keep you on track.</li>
    <li class="three">
        <h5>Get results</h5>
        Completing tasks each day with consistency will take your life in a whole new direction! You'll thank me for it later.</li>
</ol>
